<section class="present contenedor">
    <div class="present__parrafos">
      <p class="present__hola">
        Hello, I'm
        <span> Mateo Crespo </span>
      </p>
      <p class="present__puesto">Software Developer</p>
       <button class="btn btn-dark"><a href="#portafolio">Portfolio</a></button>
      <div class="present__redes">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="present__img">
      <img src="assets/img/developer.svg" alt="" />
    </div>
  </section>
