<section class="present contenedor">
  <div class="present__parrafos">
    <p class="present__hola">
      Hello, I'm
      <span> Mateo Crespo </span>
    </p>
    <p class="present__puesto">Fullstack Developer</p>

    <button class="btn btn-dark"><a href="#portafolio">Portfolio</a></button>
    <div class="present__redes">
      <a target="_blank" href="https://github.com/mateocrespo1021"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/mateo-crespo-ab4046333"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="present__img">
    <img src="assets/img/developer.svg" alt="" />
  </div>
</section>
