<section class="portafolio contenedor" id="portafolio">
  <h2>Portfolio</h2>
  <!-- <div id="carouselExampleCaptions" class="carousel slide pointer-event">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4"></button>
    </div>
 
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://github.com/mateocrespo1021/tiendaphp.git" target="_blank">
        <img src="assets/img/tienda.png" class="d-block w-100" alt="Image 1"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Eccomerce</h5>
          <p>PHP,JS,HTML,SCSS.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://mateocrespo1021.github.io/app-animes/" target="_blank">
        <img src="assets/img/anime.png" class="d-block w-100" alt="Image 1"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>App Anime</h5>
          <p>API KITSU,JS,HTML,CSS.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://mateocrespo1021.github.io/countries/" target="_blank">
        <img src="assets/img/countries.png" class="d-block w-100" alt="Image 1"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>App Countries</h5>
          <p>Angular application where an API of countries is queried.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://softpm.netlify.app/" target="_blank">
          <img src="assets/img/soft.png" class="d-block w-100" alt="Image 1"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Web page software</h5>
          <p>HTML,CSS,SASS,Javascript.</p>
        </div>
      </div>  
      <div class="carousel-item">
        <a href="https://mateocrespo1021.github.io/gifsApp/" target="_blank">
          <img src="assets/img/gifs.png" class="d-block w-100" alt="Image 1"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>App Gifs</h5>
          <p>Angular application where a GIF API is integrated using lazy loading.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://mateocrespo1021.github.io/cripto-javascript/" target="_blank">
          <img src="assets/img/cripto.png" class="d-block w-100" alt="Image 1"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>App Cripto</h5>
          <p>HTML,CSS,Javascript.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

  <div class="projects-container">
    <div class="project-card">
      <img
        src="assets/img/whappstore2.webp"
        alt="WhatsApp Orders SaaS"
        class="project-image"
      />
      <div class="project-info">
        <h3>WhappStore SaaS</h3>
        <p>
          A SaaS system that allows businesses to create product catalogs and
          manage orders through WhatsApp. Easy to use, efficient, and everything
          you need to automate your sales!
        </p>
        <!-- <a href="https://github.com/your-repo" class="project-link" target="_blank">View Repo</a> -->
        <a
          target="_blank"
          href="https://whappstore.com/"
          class="project-link"
          target="_blank"
          >Visit Site</a
        >
      </div>
    </div>
    <div class="project-card">
      <img
        src="assets/img/tienda.png"
        alt="WhatsApp Orders SaaS"
        class="project-image"
      />
      <div class="project-info">
        <h3>Vida Etc. Clothing eCommerce</h3>
        <p>
          Online clothing store with product catalog, easy ordering, WhatsApp
          support, and PayPal integration for secure payments.
        </p>
        <a
          href="https://github.com/mateocrespo1021/tiendaphp.git"
          class="project-link"
          target="_blank"
          >Repo</a
        >
        <!-- <a target="_blank" href="https://whappstore.com/" class="project-link" target="_blank">Visit Site</a> -->
      </div>
    </div>
    <div class="project-card">
      <img
        src="assets/img/art.png"
        alt="Arte Art eCommerce"
        class="project-image"
      />
      <div class="project-info">
        <h3>Arte Art eCommerce</h3>
        <p>
          An online store for unique art pieces, created by a team of 3 people,
          offering easy browsing and direct WhatsApp ordering for a personalized
          shopping experience.
        </p>
        <a href="#" class="project-link" target="_blank"
          >Site in Construction</a
        >
        <!-- <a href="https://yourdomain.com" class="project-link" target="_blank">Visit Site</a> -->
      </div>
    </div>

    <div class="project-card">
      <img
        src="assets/img/cloudinary.jpg"
        alt="WhatsApp Orders SaaS"
        class="project-image"
      />
      <div class="project-info">
        <h3>Hackathon Cloudinary Project with Google Vision</h3>
        <p>
          A cloud-based media management solution that leverages Cloudinary for
          image and video handling, integrated with Google Vision API for
          advanced image recognition and analysis.
        </p>
        <a
          href="https://github.com/PabloMateoCrespo2423/cloudinary-halloween.git"
          class="project-link"
          target="_blank"
          >Repo</a
        >
        <!-- <a target="_blank" href="https://whappstore.com/" class="project-link" target="_blank">Visit Site</a> -->
      </div>
    </div>

    <div class="project-card">
      <img
        src="assets/img/cripto.png"
        alt="WhatsApp Orders SaaS"
        class="project-image"
      />
      <div class="project-info">
        <h3>Crypto Quote Tool</h3>
        <p>
          An intuitive tool for users to check the real-time value of their
          local currency against popular cryptocurrencies like Bitcoin and
          Ethereum.
        </p>
        <!-- <a href="https://github.com/PabloMateoCrespo2423/cloudinary-halloween.git" class="project-link"
          target="_blank">Repo</a> -->
        <a
          target="_blank"
          href="https://mateocrespo1021.github.io/cripto-javascript/"
          class="project-link"
          target="_blank"
          >Visit Site</a
        >
      </div>
    </div>
    <div class="project-card">
      <img src="assets/img/movies.png" alt="Movie Hub" class="project-image" />
      <div class="project-info">
        <h3>Movie Hub</h3>
        <p>
          A comprehensive platform where users can browse and discover movies,
          view detailed information, and explore trending and top-rated films.
        </p>
        <a
          href="https://mateocrespo1021.github.io/app-animes/"
          class="project-link"
          target="_blank"
          >Visit Site</a
        >
      </div>
    </div>

    <div class="project-card">
      <img
        src="assets/img/gifs.png"
        alt="WhatsApp Orders SaaS"
        class="project-image"
      />
      <div class="project-info">
        <h3>GIF Search App</h3>
        <p>
          A fun and interactive app where users can search and explore trending
          GIFs, perfect for sharing and expressing emotions in any conversation.
        </p>
        <!-- <a href="https://github.com/PabloMateoCrespo2423/cloudinary-halloween.git" class="project-link"
          target="_blank">Repo</a> -->
        <a
          target="_blank"
          href="https://mateocrespo1021.github.io/gifsApp/"
          class="project-link"
          target="_blank"
          >Visit Site</a
        >
      </div>
    </div>
    <!-- Puedes agregar más tarjetas de proyectos aquí -->
  </div>
</section>
