<div id="contacto" class="contacto contenedor">
  <h2>Contact Me</h2>
  <div class="flex">
    <div class="informacion">
      <!-- <h3 class="informacion__h2">Contact Information</h3> -->
      <div class="informacion__info">
        <i class="fa-solid fa-phone"></i>
        <p>+593 0983513154</p>
      </div>
      <div class="informacion__info">
        <i class="fa-solid fa-envelope"></i>
        <p>{{email}}</p>
      </div>
    </div>
    <!-- <form class="form" action="" (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="campo">
      <label for="name">Name</label>
      <input name="user_name" id="name" type="text" placeholder="Name" formControlName="user_name">
      <span *ngIf="isValidField('user_name')" class="form-text text-danger">
        Ingrese su nombre
    </span>
    </div>
    <div class="campo">
      <label for="email">Email</label>
      <input name="user_email" id="email" type="email" placeholder="Email" formControlName="user_email">
      <span *ngIf="isValidField('user_email')" class="form-text text-danger">
        Ingrese un email valido
    </span>
    </div>
    <div class="campo">
      <label for="message">Message</label>
      <textarea name="message" id="message" cols="20" rows="5" formControlName="message"></textarea>
      <span *ngIf="isValidField('message')" class="form-text text-danger">
        Ingrese el mensaje
    </span>
    </div>
    <button class="btn btn-dark p-2 w-50">Send</button>
   </form> -->
  </div>
</div>