<section id="sobre-mi" class="sobre-mi contenedor">
    <h2>About me</h2>
    <p>
      Hi! I'm Mateo Crespo, a passionate software developer in search of
      exciting opportunities in the world of web and software development.
      Currently, I am in the final stage of my software development education
      at the Technological University of Azuay, where I have gained a solid
      foundation in cutting-edge technologies and methodologies.
    </p>
    <p>
      While my primary focus has been on frontend development, I also have a
      strong interest in backend development and have started exploring
      technologies like Node.js and Express. This combination of software
      development skills and a desire to learn more about the world of technology
      makes me a versatile and enthusiastic candidate for any software project.
    </p>
  </section>
