<section id="sobre-mi" class="sobre-mi contenedor">
  <h2>About me</h2>
  <p>
I am a passionate developer with a strong focus on creating intuitive user interfaces and developing scalable SaaS solutions. I specialize in combining design, technology, and user-centered principles to build innovative applications that solve real-world problems. With expertise in full-stack development, I strive to deliver high-quality, efficient solutions that enhance the user experience and meet business objectives.
  </p>
</section>